thead {
    background-color: blue;
    color: white;
}

thead tr th {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

tbody {
    background-color: gray;
    color: white;
    font-weight: bold;
}

tbody tr td {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.address {
    text-align: right;
    background-color: aqua;
}

#name1 {
    color: orange;
}

#name2 {
    color: greenyellow;
}